.singleProductContainer {
  /* border: 1px solid green; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
}

.priceSection {
  /* border: 1px solid teal; */
  display: flex;
  width: 52%;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.price {
  font-size: 15px;
  color: #333333;
  font-weight: bold;
}
.before_disc {
  font-size: 13px;
  color: #999999;
}

.offer_percent {
  font-size: 13px;
  color: #6fa40c;
}
.brand {
  color: #999999;
  font-size: 12px;
  margin-left: 6%;
}
