.nav {
    color: black;
    font-size: 20px;
    justify-content: space-between;
    padding: 10px;
    gap: "10px";
    align-items: center;
    background-color: white;
    border-bottom: 1px solid black;
    font-family: "Lato-Regular Helvetica Arial sans-serif";
  }
  
  .skinstore{
    font-weight: 400;
    line-height: 1.2;
  }