* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto,Helvetica," Arial ", Arial,sans-serif";
}

body {
  background-color: #efefee;
}
.outer-container {
  width: 90%;
  position: relative;
  left: 60px;
  display: flex;
  margin: auto;
  gap: 5px;
  background-color: #efefee;
}

.inner-left-container {
  width: 40%;
  height: 96vh;
  padding: 15px;
  Overflow-y:scroll
}
.detail-form-section {
  height: 60vh;
  /* border: 1px solid blue; */
}
.label span {
  font-size: 18px;
}
.details-form {
  /* border: 1px solid yellowgreen; */
  padding: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  height: 50vh;
  margin-top: 12px;
  
}
.top-form {
  width: 90%;
  display: flex;
  margin: auto;
  gap: 50px;
  padding: 1px;
}
.top-form span label {
  font-size: 14px;
  color: grey;
}
.top-form span input {
  border-top: none;
  border-left: none;
  border-right: none;
 border-bottom: 1px solid lightgray
}

.personal-details {
  margin-top: 10px;
  padding: 10px;
}
.personal-details > input {
  width: 90%;
  display: flex;
  margin: auto;
  gap: 50px;
  justify-content: center;
  padding: 10px 0 0 0;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid lightgray;
}
.personal-details > input::placeholder {
  font-size: 16px;
  letter-spacing: 0.8px;
}
.city-state{
    position: relative;
    right: 0;
}
.city-state input {
  display: flex;
  margin: auto;
  padding: 4px;
  margin-top: 30px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid lightgray;
}
.city-state input::placeholder {
  font-size: 16px;
  letter-spacing: 0.8px;
}
.no-outline:focus {
  outline: none;
}

.gender-slector {
  display: flex;
  justify-content: start;
  gap: 180px;
  padding: 14px;
  margin: 20px 0 0 10px;
}
.gender-slector > label {
  display: flex;
  gap: 7px;
  font-size: 16px;
}

/****************************** Cart Section Starts **********************************/

.cart-section{
    padding: 10px;
    background-color: #FFFFFF;
}
.image-div img{
    width: 140px;
}
.added-product{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.edit-btn{
    width: 100%;
    height: 40px;
    background-color: #99CC33;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.edit-btn:hover{
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;

}
.product-details span{
    font-size: 14px;
}

/****************************** Right Container Section Starts **********************************/

.inner-right-container {
  width: 50%;
  height: 95vh;
  padding: 30px;
  background-color: #FFFFFF;
  Overflow-y:scroll
}

/****************************** offer-tag Section starts **********************************/
.offer-tag{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #EFEFEE;
    padding: 10px 0 10px 0;
    border-radius: 8px;
}
.tag-details h4{
    font-size: 14px;
}
.tag-details span{
    font-size: 12px
}

/****************************** Payment Card Section starts **********************************/


.payment-card{
    display: flex;
    gap: 10px;
}
.cod{
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 30px;
    border-left: 6px solid #99CC33;
}
.cod span{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
}
.cod span:hover{
    cursor: pointer;
}
.left-card-section{
    width: 50%;
    background-color: #F4F4F5;
    margin: 0;
}
.cards{
    padding: 10px;
}
.single-card{
    height: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-bottom: 3px solid white;
}
.single-card:hover{
    background-color: #e0e0e0;
    cursor: pointer;
}
.single-card p{
    position: relative;
    top: 10px;
    text-align: center;
}
.single-card p:nth-child(2){
    color: green;
    font-size: 12px;
}


.right-card-detail-section{
    width: 70%;
    padding-top: 50px;
    
}
.pay-now{
    width: 90%;
    margin: auto;
    padding: 30px;
    background-color: #F4F4F5;
}
.pay-now p{
    font-size: 16px;
    font-weight: 600;
}

.amount-table{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.order-btn{
    width: 90%;
    display: block;
    margin: auto;
    background-color: #99CC33;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    border-radius: 3px;
}
.order-btn:hover{
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}